#  Data Cleaning Practice

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
import requests

os.chdir('/Users/sundaswiqas/Documents/RawData')
salaries = pd.read_csv('2020 Female Salaries in Tech - Form Responses 1.csv',skiprows=5)


salaries.rename(columns={'Unnamed: 0': 'date',
                         'This sheet shares title & salary info submitted by women in tech. This sheet is publically available to ALL women who could use it in salary or raise negotiations!':'title',
                         'Unnamed: 2': 'salary',
                         'Unnamed: 3': 'location',
                         'Unnamed: 4': 'benefits',
                         'Unnamed: 5': 'yearsofexperience'}, inplace=True)

salaries.drop([0,1], axis=0, inplace=True)
salaries.dropna(axis=0, how='all', inplace=True)
salaries.drop('date', axis=1, inplace=True)

for col in ['title','benefits','location','yearsofexperience','salary']:
    salaries[col] = salaries[col].str.lower()
    
def money_to_float(salary):
    try:
        if re.search('^\d+$', salary):
            return float(salary)
        elif re.search('^\$(\d{1,3})(\,\d{3})*|(\d+)(\.\d{2})?$', salary):
            salary = salary.replace(',','').replace('!','')
            salary = re.sub('\$|€|£','',salary)
            salary = re.sub(' ','',salary)
            return float(salary)
        elif re.search('^\d+[k]|^\$(\d+)[k]', salary):
            salary = salary.replace(',','').replace('£','').replace('$','')
            salary = salary.replace('k', '')
            salary = float(salary)*1000
            return salary
        else:
            return 'unconvertible'
    except:
        pass
    
def fix_salaries_with_text(salary):
    
    salary = re.sub('[(),$]+','',salary)

    try:
        if re.search('[a-zA-Z]+', salary):

            if re.search('^\d+|^\d+[k]|^(\d+) *[a-zA-Z]+$|^[a-zA-Z]+ *\d+', salary) and not re.search('%', salary):
                
                if re.search('^\d+[k]',salary):
                    salary = salary.replace('k', '')
                    salary = re.findall('\d+', salary)
                    salary = [float(salary) for salary in salary]
                    salary = sum(salary)
                    salary = salary*1000
                else:
                    salary = re.findall('\d+', salary)
                    salary = [float(salary) for salary in salary]
                    salary = sum(salary)
                return salary


            elif re.search('%',salary):
                base = float(re.findall('\d+', salary)[0])
                percent = float(re.findall('\d+', salary)[-1]) / 100
                salary = base + (base*percent)
                return salary
    except:
        return 'unconvertible'
    
mask = ~salaries.salary.str.contains('[a-zA-Z]+', regex=True)
salaries_notext = salaries.loc[mask] 
salaries_notext['salary_temp'] = salaries_notext.loc[:,'salary'].apply(money_to_float)

mask = salaries.salary.str.contains('[a-zA-Z]+', regex=True)
salaries_withtext = salaries.loc[mask]
salaries_withtext['salary_temp'] = salaries_withtext['salary'].apply(fix_salaries_with_text)

salaries = pd.concat([salaries_notext, salaries_withtext], axis=0, ignore_index=True)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
currencies = ['CAD', 'Canadian', '£', 'CDN', '€', 'AUD', 'SGD', 'AU', 'GBP', 'kr/år', 'INR',
'SEK', 'EUROS', 'DKK']
monies = '|'.join([c for c in currencies])

currency_dict = {'Canadian': 'CAD',
                 'CDN': 'CAD',
                 'EUROS':'EUR',
                 '€':'EUR',
                 '£': 'GBP',
                 'AU': 'AUD',
                 'kr/år': 'SEK'}

def get_currency(string):

        if any(currency in string.upper() for currency in currencies):
            currency = re.findall(monies,string.upper())[0]
            return currency
        else:
            return 'USD'
        
def currency_converter(currency, salary):
    if currency == 'USD':
        return salary
    else:
        exrate = rates[currency]
        salary = salary / exrate
        print(salary)
        return salary
    
salaries.dropna(how='all',inplace=True)
salaries['currency'] = salaries['salary'].apply(get_currency)
salaries['currency'] = salaries['currency'].replace(currency_dict)

# Where USD is the base currency you want to use
url = 'https://api.exchangerate-api.com/v4/latest/USD'
response = requests.get(url)
data = response.json()
rates = data['rates']

salaries['salary_temp'] = salaries.apply(lambda x: currency_converter(x['currency'],x['salary_temp']) if x['salary_temp'] != 'unconvertible' else np.nan,axis=1)

106604.18539253344
57076.53963965678
31644.61082178361
79907.15549551949
95127.56606609463
59613.27473475264
43441.58850351655
34119.08702903928
56107.465996070234
101786.49569072126
60247.4585085266
46929.59925927335
40958.45017713127
82443.89059061535
48197.966806821285
57076.53963965678
65084.66055544147
151490.15818938962
88785.72832835499
73565.31775777985
41412.200427439864
158545.94344349107
61718.21259567726
84161.19899410535
57076.53963965678
21562.248308314785
31709.18868869821
44885.972796856186
53863.16735622742
101469.40380383428
63418.37737739642
107.81124154157392
88785.72832835499
88785.72832835499
64686.74492494435
86405.49763394815
109079.60908912185
63418.37737739642
46929.59925927335
88785.72832835499
38473.39281977132
68491.84756758813
52516.58817232174
47026.00320934385
52090.34201650396
94052.0064186877
101286.77614320214
nan
110649.5336908501
61495.542658372724
63684.73508742322
31409.31134511713
47026.00320934385
70053.20859616554
58589.95628042936
92342.86587676367
nan
nan
51345.90452229055
60500.498333052055
47763.55131556741
52858.330122561274
127369.47017484644
85337.54501714712
48989.482466000314
43408.61834708663
41395.077806825095
95527.10263113483
44392.864164177496
134.65791839056857
65595.27714004592
94810.47417920765
31021.69047388087
88264.19063907614
75784.83475403363
81506.90820163861
18208.38353901703
205.14839756766793
56067.760184832085
13465.791839056856
42187.77530625429
50734.70190191714
nan
116190.40177570187
76421.68210490786
61.71821259567726
66868.97184179438
82443.89059061535
101895.57613987714
98465.3557023335
40463.07453114896
40463.07453114896
26635.7184985065
51584.6354208128
135.86945282455426
46489.85661381895
91706.01852588943
49355.66969275299
nan
67328.95919528427
20198.68775858528

In [22]:
salaries.sort_values(by='salary_temp',ascending=False).tail(55)

,title,salary,location,benefits,yearsofexperience,salary_temp,currency
837,software engineer,£26900.00,"belfast, uk",pension/some private healthcare,3,34119.087029,GBP
1386,junior producer,£25000.00,sunderland,none,3,31709.188689,GBP
456,ux/ui designer,"€28,200.00","the hague, netherlands",25 vacation days,"1,5",31644.610822,EUR
1670,operations coordinator,49320aud,"melbourne, australia","part-time work, flexible hours","three years in various roles, 18 months with c...",31409.311345,AUD
1723,data scientist lead,"inr 23,00,000","bangalore, india",NaN,6,31021.690474,INR
596,jr ux designer,"28,000","sumner, wa.",no.,1-2,28000.000000,USD
1176,phd candidate,27000,"sydney, australia",NaN,3,27000.000000,USD
1722,staff solution engineer,27000 usd,"malaga, spain",no,8,27000.000000,USD
1758,level designer,"21,000 gbp","north west, england, u.k","flexi-time, healthcare schemes, remote working",2+,26635.718499,GBP
292,ux/ui designer,25000,mexico,"6 days of vacation/year, medical insurance, ho...",3,25000.000000,USD
1591,crm specialist,22000,madrid,NaN,NaN,22000.000000,USD
1344,graduate qa tester,"£17,000.00","cambridge, uk",private healthcare (free); pension (salary sac...,1 year,21562.248308,GBP
1791,junior growth operations,18000 euros,madrid,NaN,5.5,20198.687759,EUR
1428,qa technical support,20000,"nottingham, uk",no,2,20000.000000,USD
1730,software engineer,"13,50,000 inr",india,NaN,< 1,18208.383539,INR
1218,senior technical support manager,"$15,500.00",san francisco,"unlimited vacation, 401k and donation matching...",15+,15500.000000,USD
1094,associate product manager,13500,sunnyvale,NaN,NaN,13500.000000,USD
435,director of product management,13500,"salt lake city, utah","unlimited pto, 401k match, hsa deposits",19,13500.000000,USD
1734,software engineering intern,"12,000 euros","remote (company in spain, working from nepal)",laptop gifted by company,less than 1,13465.791839,EUR
1579,product manager,"109,00",san diego,no,15,10900.000000,USD
1236,designer,"$10,000.00","kyiv, ukraine",NaN,7,10000.000000,USD
212,software engineer,10000,pakistan (remotely working for a us based star...,none,3 years working as a freelancer developer. 0 y...,10000.000000,USD
1230,senior sqa analyst,8303.42,"lahore, pakistan","free lunch meals, bonus on performance",4.5,8303.420000,USD
1627,webmaster,5311 usd aprox,mexico,"social medical care, savings for housing",6,5311.000000,USD
695,ito service delivery cons1,2800,"kuala lumpur, malaysia",medical,fresh graduate,2800.000000,USD
1764,head of it and ops for a business unit,275+ 225 ic over 4 years,nyc,wfh,20,504.000000,USD
1720,junior software developer,420 000 kr/år (35 000 kr/månad),"uppsala, sweden","flexible hours, health benefit 2300 kr, yearly...",1 year,455.000000,USD
1065,senior software engineer,420,bay area,NaN,NaN,420.000000,USD
989,instructional designer,288,california,"health insurance 160/mo $0 deductible, 2 weeks...",6,288.000000,USD
1786,smb sales manager,180 ote (50/50 split),"salt lake city, ut","equity, lunches/snacks, commuter and phone ben...","8 total (5 in client management, 3 in sales)",280.000000,USD
49,vp marketing,250,ny,NaN,20,250.000000,USD
1672,sr product manager,"$191k, +15% bonus and ~$25k stocks/year",sf bay area,NaN,6,238.750000,USD
1732,web developer,585 600 sek (~59 740 usd),"stockholm, sweden & remote","work remotely whenever i want, 5000 sek yearly...",3,205.148398,SEK
1075,software engineer,200,sfba,NaN,NaN,200.000000,USD
1759,"vp, technology programs",$135k + 20% bonus,chicago,"work from anywhere, phone, computer, ipad",20,162.000000,USD
187,social. manager,160,160000,stock,11,160.000000,USD
1402,ux researcher,140,sf bay area,"none, i have a contract job",6,140.000000,USD
1008,"sr. manager, demand generation",140,sf bay area,"unlimited pto, benefits, 401k match, 20% bonus",7+,140.000000,USD
1770,fullstack developer,466 800 sek/~48 000usd,"sweden, stockholm","3000 sek in health benefit, pension savings, f...",4,135.869453,SEK
1715,head of inside sales,120 000 k €,paris - france,6 weeks holidays + health insurance,10,134.657918,EUR
1439,senior customer success manager,£85.00,london,"10% annual bonus, medical, 401k, breakfast and...",25,107.811242,GBP
1782,senior software tester,48.25/hr w2 contract,central indiana,no,"30 in it (developer, tester, ba, manager)",75.000000,USD
1748,product designer,55.000 (euros),dublin,"flexible hours, remote work, health insurance.",4 years,61.718213,EUR
1686,business recruiter (contract),$60 per hour,san francisco,NaN,5,60.000000,USD
1614,associate web engineer,39/hr contract,chicago,NaN,1,39.000000,USD
1787,cybersecurity consultant,24.000 usd,"madrid, spain",NaN,2,24.000000,USD
1578,vr creator,20,berlin,none - selfemployed,6,20.000000,USD
1035,project coordinator,0,danville,NaN,4,0.000000,USD
1242,"entrepreneur, startup founder",0,maine,"freedom, have to have savings or supportive pa...",over 20,0.000000,USD
942,marketing manager,"£42,000 (~$55,000)",remote - uk,"4 day working week, 5 weeks holiday",8,NaN,GBP
1651,localization qa coordinator,"£25,000 (usd 32,464)","london, uk",free gym membership,3 years,NaN,GBP
1676,cto,£1200 per day as a contractor,london uk,none,25,NaN,GBP
1678,chief product officer,£100k,"london, uk",unlimited holidays (which we can actually take...,16,NaN,GBP
1738,senior full stack engineer,"£60,000 (approx $80,000)","hampshire, uk",1 month sabbatical after 5 years,20+,NaN,GBP
1779,head of product (freelance project),£500 day rate,"london, uk",freelancer,9,NaN,GBP

In [3]:
normal_responses = re.compile('^\d+$|^\d\.\d+$')
years_responses = re.compile('^\d+ *years?$|^\d+\.\d+ *years?$')
young_uns = re.compile('entry|fresh|new| *grad')

def get_yoe(sent):
    sent = str(sent)
    print(sent)
    if pd.isnull(sent):
        return np.nan
    elif re.search(normal_responses, sent):
        years = re.search(normal_responses, sent)
        years = float(years.group(0))
        return years
    elif re.search('^\d\-\d+$', sent):
        years = re.findall('^\d\-\d+$', sent)
        years = re.sub('-', '', years[0]).split()
        years = sum([float(x) for x in years]) / 2
        return years
    elif re.search(years_responses, sent):
        years = re.search(years_responses, sent)
        years = years.group(0)
        years = float(re.sub('years?','', years))
        return years
    elif re.search('^\d+\-\d+ *years?$', sent):
        years = re.search('^\d+\-\d+ *years?$', sent)
        years = years.group(0)
        years = re.sub('-|years?',' ',years).split()
        years = [float(x) for x in years]
        years = sum(years) / 2
        return years
    elif re.search('^\d+ *months?$', sent):
        years = re.search('^\d+ *months?$', sent)
        years = years.group(0)
        years = re.sub('months', '', years)
        years = float(years) / 12
        return years
    elif re.findall('\d+ *[a-zA-Z]+[experience]|[experience] *\d+', sent):
        years_list = re.findall('\d+', sent)
        years = max([float(year) for year in years_list])
        return years
    elif re.search('\d+ *total', sent):
        years = re.findall('\d+ *total', sent)[0]
        years = re.sub('total','', years).strip()
        years = float(years)
        return years
    elif re.findall('\d+ *in [a-zA-Z]+', sent):
        years = re.findall('\d+ *in [a-zA-Z]+', sent)
        years = sum([float(x) for x in years])
        return years
    elif re.search(young_uns, sent):
        years = 0
        return years

salaries['yoe'] = salaries['yearsofexperience'].apply(get_yoe)

10
10
nan
nan
1
2
5
nan
nan
nan
nan
nan
nan
nan
nan
nan
4 years
nan
nan
nan
4
nan
1 year
nan
nan
nan
nan
nan
nan
nan
nan
5 years out of a bootcamp
nan
2
nan
nan
nan
nan
6
nan
nan
2
nan
16
nan
nan
nan
nan
nan
20
nan
15
nan
nan
1
nan
nan
nan
2
i am 20k under priced
nan
0 yrs cloud data engineering exp, 8 years etl experience
1.5
nan
15
nan
nan
6
5
nan
12
11
nan
nan
nan
nan
4
nan
nan
1
2
nan
nan
nan
nan
nan
nan
nan
10
nan
nan
nan
15
1
9
8
3
2
nan
nan
nan
15
1
nan
nan
nan
nan
3 years
nan
nan
nan
2.5
nan
nan
nan
nan
1
3
nan
nan
entry level with 2 internships
4
14
15+
2
7
5
6
nan
<1
1
9
15
9
11
7
5 in product; 15 more in product marketing/communications
first job
9
8
0
new grad
1
10 years work experience, 3 years analyst experience
6 years tech, 1 in this role
3
3
3
6
4
4 years
12
10+ years
3-4
10
3
10+
nan
2
2
5 years
3
10
13
1
nan
nan
20
2
9
8
8
1 year in ux and 12 years in graphic design
18
6
8
4
6 months
11
3
1 year as a software engineer, 9 years of misc. professional experience
nan
5
1.5
3
6
10+
11
3
10
3 in devops, 1 in ios development
6.5
nan
10
17
7
2.5
4
4
9
10
3
5
3
12
5
nan
0 (entry level)
1 year in marketing, 3 in operations, events, and admin-related work
13 years
15
15
3 years working as a freelancer developer. 0 years of any corporate job.
10
4
8
5
3
5
7
8
2
16
4
8
10
12
10
15
5
nan
3 years in this field, 7 years in different fields
5
nan
6 years
7
1
3
4
16
< 1 years
5
20
12
0 (first job out of college, 3 internships)
nan
2
5
3.5
6
1 yr
8
13
0
new grad
6
9
10
10
10
4
10
8
8 years total, 3 years in current role.
7
2
6
15
6
nan
2
~8yr
<2
3
5 years in hr, 15 years total professional work
2.5
10 years working, 4 years in this field
3 years
20
nan
7
8
3
nan
7
5 total in field relevant to startup but 0 in tech
5 total in field relevant to startup but 0 in tech
7
20
4
13
6
3
5
9
8
6
8 years in the field, 13 years working
nan
2
nan
25
1
10+
1
2
1.5
nan
3
10
2
9
3
3
1.5
1.5
3
nan
2.5 years
1+
5
3
18
over 10
5
1
10
9
8
12 y
1
8
7
nan
nan
7
6
1
8
5
3
5
14
10+
nan
1 year
8 years
10
2
17
5
15
15+
5
4.5
18
12
6
6 in ux; 15+ in graphic design
2
new grad
20
3
9
8
8
10
4
20
4
ux=3yr, art direction=15
7 years
2+ years
<1
14 years
8-9
almost 1 year
nan
1.5 in product, 4 total
4
3
18
5
7
5
10
nan
1
1
3.5 (plus 4 outside of software engineering...)
12+
nan
5
nan
13
0
1.5
5
6
10
4
10+
2
nan
5
9
nan
10
8
4
7
2
9
4.5
nan
1
3
1
20
1-2
15
15 years in design
7 years
6
2
8+ years
7
3
18
15
nan
5-6 as a marketing consultant, <1year in house
14
15+
15
19
<1
4
2
4
12
5
~1
first job out of college (4 years)
1-2 in this role, 5ish in tech
0-1
8 years
5
4
4
1
10
11
6
10
nan
1,5
8 years in this field; 12 total.
15
10
20
15
12
8
5
5
19
8
12
8
8
nan
13
6
8-10
2 years in product, 10 years total
nan
nan
10
15
8
16
3
12
nan
3 total, 1 in product
2
3
5
5
12
19
8
8
15
7
nan
23
1
1.5 (plus 3 at the company in other roles)
4.5 years total, 1.5 years in ux
6 years of product experience, 10 years of work experience
1
2
2
10
8
5
6
25+
3
nan
1
3.5 years
6
1.5 years
5
7
10+ in the games industry
4
4
1.5
6
1
3
10
1.5
5
10
18
15
7
15
16
5 consulting/ads account am, 1 in house
nan
4 years in marketing, 10 years professional working experience in various domains
3
3
9
7 years professional experience, almost 5 years in this field
6
0 (masters new grad)
2
4 in my field, 5.5 overall
4 years outside of tech, <1 year in tech
0
4
4
2.5
9
8 years experience
5
5
7
4
14 as a ux designer plus 5 as a product manager
5.5 years
7
8
1
2
15
6
9
6
8
6 months in this role, 15 years other industry experience
3
3
2
4 years
15
4
15
1
2 in ui/ux, almost 5 overall (visual design, web design and development)
10
5
3
nan
10
10+
4
1 year
9
4
15
1 as manager, 20 as engineer
1
4
5
>1 year in cyber security with masters
~5 years, 1.5 in current field
7
7.5
1-2
8
3
8
5+ in product
2
5
1
4
2
5.5
nan
8-10
nan
5
4
2
nan
7
4
6
20
18
6
4
1
9
6
0-1
1
25
5
3
20
5
4 years
3
5
5
15
6
2.25 years
10
7
7
2
6
2
6
5
nan
7
nan
4
1
2-3
2
7
14
4
4
2
nan
20
7
5
3
7
10
5-6
5 years as a solution engineer + 5 years as a developer.
nan
1.5 years
1
1
3
8
2
9
2
3
nan
2
7
8
5
2
8
7
7+
nan
4
19
7
31
nan
0 before this job. my first swe job after changing careers from 10+ years in education admin. i took a ~$35k pay cut to switch.
3
5
fresh graduate
7
25
2 in this field, 8 years total work experience
12
12
5 in product; many more in tech
3
9
10
18+
18+
1
1
4
13 years
8 years + mba
15
1yr as pm, 3yrs software engineer
3+
1
3
12
4
9
nan
nan
10
5
1
5
23 years
1
1 (attended a coding bootcamp and switched careers)
2.5 in tech, 10  in  science
2 in product, 6 total
7+
6
12
nan
10
10
5/6
11
20
5
2
6
4
7
7
4
6.5
10 years
8
7 total. 3 in engineering, 2 in product, 2 in analytics
2
3
5
1
15+
6 total, 3 as a pm
9
5 years in product specifically, 10 in the workforce
10
5
nan
17
13
3
5 years
15
nan
30
nan
nan
8
3.5
25
4years
6
5
11
4
3+
10
4.5
had 0 entering, now have 2 years
10+ in tech, 7+ in high growth saas startups
4
5
10
7
9
0
8
14
8
10 years as program manager, 2 years as pm
20+
3
10
10+
1.5
3.5
3
3
2
2
10
2
5
5
3.5
9
12
3
10
5
10
4
3
10
13
5
more than 10
8
3
4 years
7
8
7
15
0.5
19
8
3
25
5 years in agency setting
4
nan
10
3
5
6
8
4
5
5 as a full time researcher, 20 in the industry (in reverse order: research, design, pm, web developer, qa)
5
6
6
5 in tech, 1 in current role
5
4
3
3 in the field, 11 overall professional
11
4 months
10+ over 8 years with current company
straight out of college, so just summer internships
10
2
12
7
6+
17
7
8 years
3
10
10 (this was also what they asked for in the job ad)
1
2
1
3
1
20+
14
nan
6
nan
8
7
6
12
12
12
4
10
20+
nan
2
8
1
5
7
15
25++
4
4 years, but started with 0
nan
10
4
12
3
7
7+
4
11
11
1 in pm, 5 in ops
7
1.5
7
7
5
1.5
nan
25
nan
3
0.5
4
5
2.5
nan
7
10 years
3.5
4
7
<1
3
<1
12 years
5
4
7
23
4
12
6
4
nan
nan
4
8
5 years professional experience, 2.5 years data experience
3
3.5
12
10
5
6
5
5
15
5
5
6
3
1
13
8
5
8 years in tech
6
9
25
9
12
20
12
5
3 pre-mba + 10 post-mba
8
7
10
5 years (3 with this company)
10
3 in this field (i changed careers and am 10 years post master's in another career field)
1 yr in biz ops, 12 yrs in consulting
5
12
7
5
14
10
6
14
7
6
5
6
15
8
10
17
15+
9
5
11
15
nan
3
13
12
15 yrs in tech, 5 yrs as program manager
15
16
6
10
7+
19
10
3
12
nan
10
19
4
20
13 total (but not in same role)
7
13
6
20
2 years in this role - 10 years in startups -  this company is less than 15 people (under 1 year old)
9 years
nan
nan
8
13 years
7.5
20
12
nan
nan
7
4
nan
15
<1 year
12
12
3
11
4
10
4
10
12
5
5
10+
20
20
5
13
nan
10
22
4
nan
4
15
4
6
6
nan
8
6
nan
2
15
13 years
5
nan
12
nan
10
15+
master's + 2 years
nan
15
5
10
9
nan
about 3
4
11
4-6
6
8
new grad
3
1
nan
17
1
1
<1
2
3 years in tech
20
2
entry level
2
6
5
10
9
5
7
nan
5
6
24
nan
6
12
3 as a pmm, 6 total in the workforce
2 years
10
20+
16 years
7
1
nan
nan
9+
nan
phd + 3yrs
less than 1 year
25
12
0
2 year post-grad
17 years
3
15
nan
nan
18
3.5
2
4
1
5
1
0-1 year
15
11
1 in this role, 7 in other roles
nan
2
2
10 +
5-7
2
10
6.5
15
7
10
0 years (bootcamp grad)
10
4
15
20
3
9
3
9 years
6
10
4
5
3
3
18 years
10 years
3
6
5
nan
been here a year, four years analyst experience prior (10 total), mba,
5
nan
4
5
2 years
5
6
4
12
8
10
1 year of data analytics, 5 years of marketing
8
1
nan
15
3
15
1
2
7
6 years
nan
10
20+
1
13
20
15 yrs
8+
4
9
12
4
15+
2
10
nan
0 (newgrad with 3 internships)
nan
12
10
10
6 years
10
1
4.5
15
14
nan
6
nan
7
20
1.5
15+
10
~20 at the time +phd
over 20
5
6
6
7
13
3
nan
5
12
nan
8
6
8
12 years
10+
that should say how many year(s) experience do you have shouldn't it? and 6 years :)
8
2
15
nan
16
10
1
3
8 years
8 years
15
6
5
1
1-2 years
15 years
9
8 years
6
5
7 in varying fields with applicable skills
nan
14
20+
5
11
15
8
8
3
4 years but i got my ms in cs after undergrad
10
nan
nan
12
3
nan
8
3 full-time (+4 of internships)
11
6 yrs
2
25
6
5
5
10
15
<1
9
nan
9 years
8
6 years
8
20
nan
6
4
12 (2 marketing, 8 sales, 2 customer success)
nan
13 years
10
10
6
1 year
9
~20
12
~5
5
12
10
1-2
nan
20
6
13
7
16
4
3 1/2
2
8
8
1 year
6
14 years
17
just starting out, entry level
3
4 years
0.5
7
10
2
nan
10
8 in sales (2 in this role specifically)
nan
2.5 years
13
1.5
nan
6
10
10
7
5
3
5
3.5
12
4.5
3
nan
3.5
nan
2 in product, 15 in other roles
2 in ux, 9 in design.
10+
nan
1 in tech, 7 outside the industry
2
nan
3
6
3
1
< 1 year
1 year
1 1/2 professionally (5 including internships)
3.5
nan
7
1
2
10 years
8 year professional, 3 years customer service focused
14
5 as se, 15 in other fields
5
20
6
5
20
5
6
16
1
nan
0.5
<1 year
4
12
nan
<1
8
nan
4+
20
7
nan
4 years
13 years, 11 in product management
4
8
5
10
2
3
6
15
12
15
13
4.5
nan
20
10
25
8
4
8
2 summer internships (1st job out of college)
6.5
7
12
8
9
8
12
6
4
4.5
8
2
15
22
8
3
5
6
3
15
2 years'
5
1-2
11
3
1
8
5 years
3
0-new to product mgmt, but working in tech for 2 years
5
<1
8
9
20+
7
nan
4
nan
3
17
5
nan
nan
5
<1
7
7
2
7
4
2
1 year
nan
<1 year
4
2
5
7
7.5
2
5
20
5 as product manager/business analyst, 13+ years work experience overall
3
5 years
10
7 years
11
5
$10k - $15k bonus, exceptional healthcare, 401k, annual stock option grants
1
10
10
3 years
3 years  + jd/passed the bar
7
5
16
6
2
1 year
nan
3 years in administrative assistant  6 mo in office management
3
almost 2
15
3
15+
10
3
10
2 in the role, 5 total
5
9
7
nan
5 specifically in tech; w/ 15 years in biz and stem
3
7
13
big four for 3 years & private start-up for 3.5 years
3
4
2
7
9
15
10+
4
12
0
12 years (including quantitative ms & phd)
20
4-5
5
2 in saas, 7 in general product management
2.5
4
12
3
14 in leadership, 4 in this industry
12
15
6
2
4
10
9 years of varied professional experience
15
10
11
15+
3
6
15
nan
1.5
nan
1
nan
3.5
11
nan
3
10 (2 doing frontend)
1.5
nan
10
8
6
3 pmm, 6 total
15+
6
1.5
10
2.5
5 years
8 years of professional experience. 2 years specifically as a pre-sales solution engineer
nan
nan
1
4
4
13
11
15
7
20
1
1
5 years
7
7
10
nan
5 years
7
20
nan
1
3
nan
6
4.5
15
2 years as a pm in tech
11
6
almost 3 years
15
over 10
13
16
nan
6 years
10
25
1
4
15+
20+
15
4
5
5+
3
3 years
9
5 in product management, all together 12 (developer + product manager)
1
10
13
5
10
5+
8
8
8 years
10
6
5
20 yrs overall, 12 yrs in product management
15
20
3
three years in various roles, 18 months with current duties
2
6
10
nan
12
25
4 as pm, 9 total
16
1 year pm, 4 years otherwise
3.5 years
7
5
10 overall, 3 in product
2.5 ~ 3
1.25
5
5
12 years
2
1+
15
3 in this role, 15 in tech
3
5
5
8
2
12 years professional / 2 years pm
6 years
3 (after career change from teaching)
nan
3
19
3
20
nan
5
nan
13
13
5
4
nan
7
10
13
nan
8
6
1 year
9
8
6
4
nan
10
8
<1
5
< 1
10
3
2,5
less than 1
1
13
4
20+
25
6
6
16
20
15
nan
20+
5
4 years
18
5.5 years
10
9
20+
12
4.5 years
nan
15
2+
20
4
10
3
12
20
12
5
15
22
12
4
10+
<1
4
7
2
2 years in this role, 12 years of professional experience
1
1 year in finance, 1 year in business ops
9
3+
10 years + ma in communications
30 in it (developer, tester, ba, manager)
4
4
11 in tech sales
8 total (5 in client management, 3 in sales)
2
5
3
8
5.5
7

In [4]:
def clean_locations(location):
    if pd.isnull(location):
        return np.nan
    if 'remote' in location:
        return 'remote'
    elif 'nyc' in location or 'new york' in location:
        return 'new york city'
    elif 'sf' in location or 'san francisco' in location:
        return 'san francisco'
    elif 'san diego' in location:
        return 'san diego'
    elif 'san jose' in location:
        return 'san jose'
    elif 'san mateo' in location:
        return 'san mateo'
    elif 'san ramon' in location:
        return 'san ramon'
    elif 'santa monica' in location:
        return 'san monica'
    elif 'palo alto' in location:
        return 'palo alto'
    elif 'mountain view' in location:
        return 'mountain view'
    elif '-' in location or ',' in location:
        location = re.split(',|-', location)[0].strip()
        return location
    else:
        return location

salaries['location'] = salaries['location'].apply(clean_locations)

In [5]:
salaries['401k'] = salaries.benefits.apply(lambda x: 1 if re.search('(?<!no )401k', str(x).lower())else 0)
salaries['unlimited_pto'] = salaries.benefits.apply(lambda x: 1 if re.search('(?<!no )unlimited pto' ,str(x).lower()) else 0)
salaries['equity'] = salaries.benefits.apply(lambda x: 1 if re.search('(?<!no )equity' , str(x).lower()) else 0)
salaries['healthcare'] = salaries.benefits.apply(lambda x: 1 if re.search('(?<!no )healthcare|(?<!no )insurance', str(x).lower()) else 0)

In [6]:
def job_area(title):
    if re.search('data|business intelligence',title):
        return 'data'
    elif re.search('engineer|developer|design|ux',title):
        return 'tech'
    elif re.search('marketing|communications|growth|writer|brand',title):
        return 'marketing'
    elif re.search('sales|account manager',title):
        return 'sales'
    elif re.search('product',title):
        return 'product'
    elif re.search('talent|human resources|hr|recruit',title):
        return 'hr'
    elif re.search('law|legal|counsel',title):
        return 'legal'
    elif re.search('strategy|business|finance',title):
        return 'strategy and ops'
    else:
        return 'other'
    
salaries['job_area'] = salaries.title.apply(job_area)

In [7]:
#salaries = salaries.drop(['salary', 'benefits'], axis=1)
#salaries.rename(columns={'salary_temp':'salary'}, inplace=True)

In [8]:
# s = salaries.loc[salaries.salary != 'unconvertible']
cols = ['salary', 'salary_temp']
s = salaries.loc[~salaries.salary.isna(), 'salary']
s = s.apply(lambda s: float(s))